{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "about.css" %}">
    <title>About Us - My Django Project</title>
   
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to the About Us page of our Django project!</p>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Phasellus eu nunc sit amet orci dignissim gravida. Aliquam erat volutpat. Nulla facilisi. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula.</p>
            <p>Praesent euismod nunc eu purus. Donec bibendum quam in tellus. Nullam cursus pulvinar lectus. Donec et mi. Nam vulputate metus eu enim.</p>
        </div>
    </div>
</body>
</html>
