{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - My Django Project</title>
    <link rel="stylesheet" href="{% static "contact.css" %}">
    
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p>Have any questions or feedback? Drop us a message!</p>
        <div class="form-container">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Your Name" required><br>
                <input type="email" name="email" placeholder="Your Email" required><br>
                <textarea name="message" rows="5" placeholder="Your Message" required></textarea><br>
                <input type="submit" value="Send Message">
            </form>
        </div>
    </div>
</body>
</html>
